menu "SIT LIBs"

rsource "sit_ble/Kconfig"

rsource "sit_led/Kconfig"

rsource "sit/Kconfig"

rsource "sit_mesh/Kconfig"

rsource "sit_json/Kconfig"

rsource "cJSON/Kconfig"

endmenu

menuconfig SIT
	bool "Sport Indoor Tracking"
	help
		Include SIT LIB
